{% extends "control/base.html" %}
{% load crispy_forms_filters %}
{% block title %}Выдача{% endblock %}
{% block content %}
<style>
table, td {
  border:1px solid black;}
</style>

<form method="POST" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <br>
    <br>

    {{ form|crispy }}
        <table style="width:100%">



              <thead>
    <tr>
      <th>Производитель</th>

      <th>Обьем</th>
        <th>Количество для выдачи</th>


    </tr>
  </thead>

    {% for row in form.cosm %}

    <tr>
        <td>{{row.1}}</td>
        <td>{{row.2}}</td>

        <td><input size="10" type="text", value="", name={{row.0}}></td>

    {% endfor %}
           </tr>
    </table>
        <br>
    <p><input type="submit" aria-label="Отправить"  ></p>
</form>
{% endblock %}