{% extends "control/base.html" %}
{% load crispy_forms_filters %}
{% block title %}Взвешивание{% endblock %}
{% block content %}
<style>
table, td {
  border:1px solid black;}
</style>

<form method="POST" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <br>
    <br>

    {{ form|crispy }}
        <table style="width:100%">

              <thead>
    <tr>
      <th>Производитель</th>
      <th>Наименование</th>
      <th>Обьем</th>
      <th>Остаток</th>
        <th>Текущее значение</th>


    </tr>
  </thead>

    {% for row in form.cosmetic_in_cab %}

    <tr>
        <td>{{row.0}}</td>
        <td width="80%">{{row.1}}</td>
        <td>{{row.2}}</td>
        <td>{{row.3}}</td>

        <td><input size="10" type="text", value="", name={{row.4}}></td>

    {% endfor %}
           </tr>
    </table>
    <p><input type="submit" aria-label="Отправить" ></p>
</form>
{% endblock %}