<style>
table, th, td {
  border:1px solid black;
}
</style>
{% extends "control/base.html" %}
{% block title %}Note views{% endblock %}
            <br>
    <br>
{% block content %}
            <br>
    <br>
<style>
table, th, td {
  border:1px solid black;}
</style>

<div class="databases">
    <div class="row">

<table style="width:100%">
            <br>
    <br>
{% for database in data %}
<tr>
        {% for element in database %}
    <th>{{element}}</th>
            {% endfor %}
    </tr>
        {% endfor %}
</table>
</div>
</div>
{% endblock %}